
# configurations
*/.PowerFolder
*/.idea
*/venv
*/.cfg
*/.ipynb_checkpoints
*/mauve_setup.py
*/.Rhistory

# not in use
*not_in_use*
*_sony_colornoise_data
*/test10bit.py
*/MLE_test.py
*/constant_stim.py
./Quickpsy_example_PF_fitting.ipynb
