
# configurations
*/.PowerFolder
*/.idea
*/venv
*/.cfg
/colornoise_v2/.ipynb_checkpoints/
/colornoise_v1/.ipynb_checkpoints/
/colornoise_v1/.PowerFolder/
/colornoise_v2/.PowerFolder/

# not in use
*not_in_use*
*_sony_colornoise_data





